:local(.book){
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    :local(.books) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  } 